.contact {

  &-heading {
    text-align: center;
  }

  &-title {
    margin: 0 0 20px 0;
    font-size: 50px;
    color: #fff;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.15);
  }

  &-description {
    color: #aaaaaa;
    margin: 0;
    font-size: 18px;
  }
}